{% extends 'base.html' %}

{% block content %}
<!-- Head -->
<section class="features-head bg-primary py-3">
    <div class="container grid">
        <div>
            <h1 class="md">Project name: Lorem ipsum dolor sit amet.</h1>
            <p class="lead">Company: Lorem ipsum dolor sit amet.</p>
        </div>
        <img class="project m-2" src="../static/images/p_01.png" alt="">
    </div>
</section>
<!-- Sub head -->
<section class="features-sub-head bg-light py-3">
    <div class="container grid">
        <div>
            <h1 class="md">Project description:</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos iure necessitatibus doloribus delectus quia nam possimus, error soluta? Quisquam, autem.</p>
        </div>
    </div>
</section>
<section class="features-main my-2">
    <div class="container grid grid-3">
        <div class="card flex">
            <i class="fas fa-server fa-3x"></i>
            <a href="#" target="_blank"><p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Odio tempora non error! Corrupti nihil rem adipisci corporis obcaecati ab nisi.</p></a>
        </div>
        <div class="card flex">
            <i class="fas fa-power-off fa-3x"></i>
            <a href="#" target="_blank"><p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Exercitationem delectus nemo ipsa natus culpa earum, minus libero ducimus impedit dicta.</p></a>
        </div>
        <div class="card flex">
            <i class="fas fa-database fa-3x"></i>
            <a href="#"><p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Minima, impedit eaque ex sit aliquam dolore repellendus vero illo reiciendis rerum.</p></a>
        </div>
        <div class="card flex">
            <i class="fas fa-upload fa-3x"></i>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Corporis architecto odit quod sapiente deleniti tempora, laboriosam alias reprehenderit qui, consectetur, unde quia quidem! Modi nemo cupiditate labore iure ea quis.</p>
        </div>
        <div class="card flex">
            <i class="fas fa-laptop-code fa-3x"></i>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Corporis architecto odit quod sapiente deleniti tempora, laboriosam alias reprehenderit qui, consectetur, unde quia quidem! Modi nemo cupiditate labore iure ea quis.</p>
        </div>
        <div class="card flex">
            <i class="fas fa-server fa-3x"></i>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Corporis architecto odit quod sapiente deleniti tempora, laboriosam alias reprehenderit qui, consectetur, unde quia quidem! Modi nemo cupiditate labore iure ea quis.</p>
        </div>
    </div>
</section>
{% endblock content %}