{% extends 'base.html' %}


{% block content %}
<section class="success-head bg-light py-3">
    <div class="container grid">
        <div class="card p-2">
            <h1 class="text-center text-dark">Thank you {{ name }} for your message. I will contact you on {{ email }} within next 24 hours.</h1>
            <br>
            <h3 class="text-center">
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Officiis optio, quas quia consequatur, totam nam ex maxime ipsam expedita eligendi tempore esse nihil magni deserunt inventore non vitae quasi libero quidem, neque pariatur recusandae beatae? Fugit aspernatur doloribus optio blanditiis, ea ipsum sequi magni laborum ad quod vel, quam earum.
            </h3>
        </div>
    </div>
</section>
{% endblock %}